MONGO_URI=mongodb+srv://imamkhan:imamkhan123@cluster0.qpyzo69.mongodb.net/
JWT_SECRET=imam_secret_key
PORT=1000
VAPID_EMAIL=imamhassnainkhan@gmail.com
VAPID_PUBLIC_KEY=BECB9V3sCgQ2Sm_sY9xzSaRiHzcr_XQ471X8NUMBDk_XoXLpJLdkKGu0W9W1GIef1WGJdzV5TuEo1QDnQ-sIU2w
VAPID_PRIVATE_KEY=tLBKQhp4kBvhU1zuWpj4-fgRHpszQzHxSqRpC8cWgbw
