MONGO_URI=mongodb+srv://imamkhan:imamkhan123@cluster0.qpyzo69.mongodb.net/
JWT_SECRET=imam_secret_key
PORT=1000
FRONTEND_URL="https://your-app.vercel.app"
VAPID_EMAIL=imamhassnainkhan@gmail.com
VAPID_PUBLIC_KEY=BECB9V3sCgQ2Sm_sY9xzSaRiHzcr_XQ471X8NUMBDk_XoXLpJLdkKGu0W9W1GIef1WGJdzV5TuEo1QDnQ-sIU2w
VAPID_PRIVATE_KEY=tLBKQhp4kBvhU1zuWpj4-fgRHpszQzHxSqRpC8cWgbw

# SMTP Config for Email Reminders
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASS=app-password
FROM_EMAIL="ReviseIt" <noreply@reviseit.com>

# AI Hints Config
GEMINI_API_KEY=your_gemini_key_here
